#geoLocationContainer
{
    text-align: center;
}

#map-canvas{
    height:100%;
    width:100%;
}

.dataConnection{
    margin-bottom: 10px;
}

#lblDataConnection2{
    position: absolute;
    top: 70px;
    left: 0px;
    color: Red;
    text-align: center;
    background-color: White;
}

.lowBattery{
    margin-bottom: 10px;
    position: absolute;
    top: 360px;
    left: 10px;
    color: Red;
    font-size:larger;
    display: none;
}

#startStop{
    text-align: center; margin-top: 40px;
}

#startStopOverlay{
    text-align: center; margin-top: 50px; margin-left: 100px; margin-right: 0px;
    position: absolute; top: 15%; left:-120px; width:220px; height:220px;
    border:3px; border-radius:30px;
}
#startStopOverlayInside{
    position: absolute; top: 0px; left: 20px; width:200px;
}


#lblOnlyMyType{
    text-align: right; margin-right: 10px;  text-wrap: true;
}

#pullout{
    position: absolute; 
    top: 60px; right: 0px;
}

#pushOpen{
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
    text-align:center;
    margin-right:-30px;
    margin-top: 40px;
    height:auto;
    width:80px;
}

.stopLight{
    position: absolute;
    top: 20px; right: 2px;
}

.shadow{
/*    -webkit-box-shadow: 10px 10px 5px #888888;
	   -moz-box-shadow: 10px 10px 5px #888888;*/
	        box-shadow: 5px 5px 5px #888;
}

#btnStart{
    margin-top: 20px;
}

#wrench{
    text-align: center;
}

#lblRunStop,
#lblTrouble{
    margin-top: -70px;
    margin-bottom: 70px;
}

#lblTrouble{
    color: Red;
}

#imgStartStop{
    width: 120px;
}

#showAllRiders{
    text-align: center; 
    font-size: 0.8em;
}


#imgZoom{
    position: absolute; bottom: 20px; left: 10px; width: 51px;
    opacity:20%
}

#txtRiderId{
    color: gray;
}

.km-android .km-button{
    background-color: rgb(128,128,128);
}

.mechanic{}
.km-android .km-view .km-content .km-list > li {
}
.km-android .km-view .km-navbar .km-button {
    background-color: rgb(76, 76, 76);
}
.km-android .km-view .km-navbar {
    background-color: rgb(0, 0, 0);
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAYAAACEYr13AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAaJJREFUeNqUks1ugkAQx4FdRUUq4EeTXlqTNo16gcZ40hfoS/SNfCx7a9OTTW+aNLERCEKQb+iQ1IYa2E0n2Zgd3P/8Z+bHDofDK+YnEELsaDTSeJ6PmYoIggCv1+vXJEmy/M4VP3a7Xb7X6zGkGAwGbP6/0/2PwHQ6vW61Wpgk0Gg00Gw2u/l1LcuyOJ/PpcVicYcxlkzTDKMoSkki+RtVVaVOpxOyy+XyKQzDZL/fe7quB67rxgwlBEHA0Crf7/ebeLVafTH/jLxIfjabjYurJn04HETHcS7AHV+v1wNRFG2w7JxvCJc9NgxDsm3bh3hO09SEnAJzuY/jWFYUxYJBRpUCYK0JVS34fTnlYOc63HWorh6PR6EowJW1AALvZXlw8MGybFbMcSUT9qCKVzE8DzjxiQLnpNFI5Wik0UhF4/H4lkTadrv1SaSWbSHe7XY+WG1PJpMHTdNQgVT/nFRMI41GJYK1PAI0bVgRBxZjOCntUQ4btNIBp5cIEP2Engw4ClAn1mq1iCRyItWyrBDW/YazLEtJpNFI5Wik0Uj9FmAAlmwVK4mYI6QAAAAASUVORK5CYII=");
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAYAAACEYr13AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAaJJREFUeNqUks1ugkAQx4FdRUUq4EeTXlqTNo16gcZ40hfoS/SNfCx7a9OTTW+aNLERCEKQb+iQ1IYa2E0n2Zgd3P/8Z+bHDofDK+YnEELsaDTSeJ6PmYoIggCv1+vXJEmy/M4VP3a7Xb7X6zGkGAwGbP6/0/2PwHQ6vW61Wpgk0Gg00Gw2u/l1LcuyOJ/PpcVicYcxlkzTDKMoSkki+RtVVaVOpxOyy+XyKQzDZL/fe7quB67rxgwlBEHA0Crf7/ebeLVafTH/jLxIfjabjYurJn04HETHcS7AHV+v1wNRFG2w7JxvCJc9NgxDsm3bh3hO09SEnAJzuY/jWFYUxYJBRpUCYK0JVS34fTnlYOc63HWorh6PR6EowJW1AALvZXlw8MGybFbMcSUT9qCKVzE8DzjxiQLnpNFI5Wik0UhF4/H4lkTadrv1SaSWbSHe7XY+WG1PJpMHTdNQgVT/nFRMI41GJYK1PAI0bVgRBxZjOCntUQ4btNIBp5cIEP2Engw4ClAn1mq1iCRyItWyrBDW/YazLEtJpNFI5Wik0Uj9FmAAlmwVK4mYI6QAAAAASUVORK5CYII=");
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAYAAACEYr13AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAaJJREFUeNqUks1ugkAQx4FdRUUq4EeTXlqTNo16gcZ40hfoS/SNfCx7a9OTTW+aNLERCEKQb+iQ1IYa2E0n2Zgd3P/8Z+bHDofDK+YnEELsaDTSeJ6PmYoIggCv1+vXJEmy/M4VP3a7Xb7X6zGkGAwGbP6/0/2PwHQ6vW61Wpgk0Gg00Gw2u/l1LcuyOJ/PpcVicYcxlkzTDKMoSkki+RtVVaVOpxOyy+XyKQzDZL/fe7quB67rxgwlBEHA0Crf7/ebeLVafTH/jLxIfjabjYurJn04HETHcS7AHV+v1wNRFG2w7JxvCJc9NgxDsm3bh3hO09SEnAJzuY/jWFYUxYJBRpUCYK0JVS34fTnlYOc63HWorh6PR6EowJW1AALvZXlw8MGybFbMcSUT9qCKVzE8DzjxiQLnpNFI5Wik0UhF4/H4lkTadrv1SaSWbSHe7XY+WG1PJpMHTdNQgVT/nFRMI41GJYK1PAI0bVgRBxZjOCntUQ4btNIBp5cIEP2Engw4ClAn1mq1iCRyItWyrBDW/YazLEtJpNFI5Wik0Uj9FmAAlmwVK4mYI6QAAAAASUVORK5CYII=");
    background-repeat: repeat;
    background-position: 0% 0%;
}
.km-android .km-view .km-content,
.km-android #infoBox,
.km-android #startStopOverlay {
    background-color: rgb(0, 0, 0);
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: repeat;
    background-position: 0% 0%;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-shadow: #2e2e2e;
}

.km-ios #infoBox,
.km-ios #startStopOverlay {
    background-color: White;
}

.km-android .km-view .km-content .km-list > li .km-icon {
    color: rgb(255, 255, 255);
}
.km-android .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(0, 0, 0);
    color: #ff0000;
}
.km-android .km-view .km-content .km-list .km-state-active .km-listview-link .km-icon {
    color: rgb(255, 255, 255);
}

.btnEditDelBikeInList{
    display: none;
}

.km-android #infoBox {
    background-color: rgb(0, 0, 0);
}
